/* CUSTOM STYLES FOR BUSY BEES CANDLE CO */

:root {
  --bb-beige: #E1DBCA;
  --bb-black: #38333E;
  --bb-primary: #89C9C4;
}
.block {
  display: block;
}
.justify-center {
  justify-content: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.color-bg-beige {
  background-color: var(--bb-beige);
}
.color-bg-transparent {
  background-color: transparent;
}
.grid-space-x-lg {
  column-gap: 6rem;
}
.page-width-lg {
  max-width: 120rem;
}
.button, 
.btn, 
button,
.shopify-payment-button {
  font-family: 'Berringer', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all .2s ease-out;
}
.button:hover {
  filter: brightness(85%);
}
.btn {
  display: inline-flex;
  padding: 1.6rem 6rem;
  text-decoration: none;
}
.btn-black {
  background: var(--bb-black);
  color: var(--bb-primary);
}
  .btn-black:hover {
    filter: brightness(85%);
  }

.bee-pattern-bg {
  background-image: url('pattern2.png');
  background-repeat: repeat;
  background-size: 61px;
  padding: 30px;
  background-color:#89c9c4;
  background-position: center center;
}
.bee-headline {
  display: flex;
  align-items: center;
}
.bee-headline::before,
.bee-headline::after {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  background-image: url('bee.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bee-headline::before {
  margin-right: 1.6rem;
}
.bee-headline::after {
  margin-left: 1.6rem;
}
.bg-field::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .08;
  background-image: url('field-bg.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
}
.bsocial-icon-link svg {
  width: 30px;
  height: auto;
}
.header__menu-item {
  font-family: 'Berringer', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}